.particles {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;



}


head, body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}


footer {
    display: flex;
    margin-top: 3rem;
    font-size: 0.75rem;

}
