.particles {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;



}


head, body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

.footer {
  transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
}
