.particles {
  width: 100%;
  height: 100vh;
  background-color: #000000;



}


body {
  margin: 0;
  padding: 0;
  list-style: 0;
  background-color: #A52A2A;



}



.footer {



}

@media only screen and (orientation:portrait){
  .particles {

    min-height: 100vw;
    width: 99%;



  }
}
